{% include 'header.html.twig' %}
<div class="container js-res">
    <div class="h1">Сохраненные значения для датчика {{ sensor.getName }} </div>
    <table class="table table-striped js-table-ajax">
        <thead class="h3">
        <tr>
            <td>id</td>
            <td>value</td>
            <td>date</td>
        </tr>
        </thead>
        <tbody>
        {% for item in data %}
            <tr>
                <td>{{ item.getId }}</td>
                <td>{{ item.getValue }}</td>
                <td>{{ item.getCreationDate.format('Y-m-d H:i:s')}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% include 'footer.html.twig' %}